absl-py==0.5.0
alabaster==0.7.11
angles==2.0
appnope==0.1.0
appscript==1.0.1
asn1crypto==0.24.0
astor==0.7.1
astroid==2.0.4
astropy==3.0.4
atomicwrites==1.2.1
attrs==18.2.0
Automat==0.7.0
aws-xray-sdk==0.95
awscli==1.16.16
Babel==2.6.0
backcall==0.1.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.3
bitarray==0.8.3
bkcharts==0.2
bleach==2.1.4
bokeh==0.13.0
boto==2.48.0
boto3==1.9.6
botocore==1.12.6
Bottleneck==1.2.1
bz2file==0.98
catboost==0.10.1
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
click==6.7
cloudpickle==0.5.6
clyent==1.2.2
colorama==0.3.9
conda==4.5.11
conda-build==3.0.27
conda-verify==2.0.0
conllu==1.2
constantly==15.1.0
contextlib2==0.5.5
cookies==2.2.1
cryptography==2.3.1
cycler==0.10.0
cymem==1.31.2
cytoolz==0.9.0.1
dash==0.36.0
dash-core-components==0.43.0
dash-html-components==0.13.5
dash-renderer==0.17.0
dask==0.19.2
datashape==0.5.4
DAWG-Python==0.7.2
decorator==4.3.0
defusedxml==0.5.0
dill==0.2.8.2
distributed==1.23.2
docker==3.5.0
docker-pycreds==0.3.0
docopt==0.6.2
docutils==0.14
ecdsa==0.13
editdistance==0.5.2
entrypoints==0.2.3
enum34==1.1.6
et-xmlfile==1.0.1
fastcache==1.0.2
filelock==2.0.12
flaky==3.4.0
Flask==1.0.2
Flask-Compress==1.4.0
Flask-Cors==3.0.6
future==0.16.0
gast==0.2.0
gensim==3.6.0
gevent==1.2.2
glob2==0.6
gmpy2==2.0.8
graphviz==0.9
greenlet==0.4.12
grpcio==1.15.0
h5py==2.8.0
heapdict==1.0.0
html5lib==1.0.1
hyperlink==18.0.0
hypothesis==2.0.0
idna==2.6
imageio==2.2.0
imagesize==1.1.0
importlib-metadata==0.5
incremental==17.5.0
ipykernel==4.9.0
ipython==6.5.0
ipython-genutils==0.2.0
isort==4.3.4
itsdangerous==0.24
jdcal==1.4
jedi==0.12.1
Jinja2==2.10
jmespath==0.9.3
jsondiff==1.1.1
jsonnet==0.10.0
jsonpickle==0.9.6
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-core==4.4.0
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lightfm==1.15
lightgbm==2.2.0
llvmlite==0.24.0
locket==0.2.0
lxml==4.2.5
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==3.0.0
mccabe==0.6.1
mistune==0.8.3
mne==0.17.0
mock==2.0.0
more-itertools==4.3.0
moto==1.3.4
mpmath==0.19
msgpack==0.5.6
msgpack-numpy==0.4.1
msgpack-python==0.5.4
multipledispatch==0.6.0
murmurhash==0.28.0
navigator-updater==0.1.0
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.1
nltk==3.3
nose==1.3.7
notebook==5.7.0
numba==0.39.0
numexpr==2.6.8
numpy==1.14.5
numpydoc==0.8.0
oauthlib==2.1.0
obspy==1.1.0
odo==0.5.1
olefile==0.44
openpyxl==2.5.7
overrides==1.9
packaging==17.1
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
partd==0.3.8
path.py==11.3.0
pathlib==1.0.1
pathlib2==2.3.2
patsy==0.5.0
pbr==4.2.0
pep8==1.7.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==5.2.0
pkginfo==1.4.2
plac==0.9.6
plotly==3.5.0
pluggy==0.7.1
ply==3.11
preshed==1.0.1
prometheus-client==0.3.1
prompt-toolkit==1.0.15
protobuf==3.6.1
psutil==5.4.7
psycopg2==2.7.5
ptyprocess==0.5.2
py==1.6.0
pyaml==17.12.1
pyasn1==0.4.4
pycodestyle==2.4.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycryptodome==3.6.6
pycurl==7.43.0
pydot==1.2.4
pydotplus==2.0.2
pyflakes==2.0.0
Pygments==2.2.0
PyHamcrest==1.9.0
pyhocon==0.3.46
pylint==2.1.1
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
pyodbc==4.0.24
pyOpenSSL==18.0.0
pyparsing==2.2.1
pyrao==0.9
PySocks==1.6.8
pytest==3.8.0
python-dateutil==2.7.3
python-jose==2.0.2
python-Levenshtein==0.12.0
pytz==2018.5
PyWavelets==1.0.0
PyYAML==3.12
pyzmq==17.1.2
QtAwesome==0.5.0
QtPy==1.5.1
regex==2017.4.5
requests==2.19.1
requests-oauthlib==1.0.0
responses==0.9.0
retrying==1.3.3
rope==0.11.0
rsa==4.0
ruamel-yaml==0.11.14
s3transfer==0.1.13
scikit-image==0.14.0
scikit-learn==0.19.2
scipy==1.1.0
seaborn==0.9.0
Send2Trash==1.5.0
server-reloader==0.1.3
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
smart-open==1.7.1
snowballstemmer==1.2.1
solidity-flattener==0.2.2
sortedcollections==1.0.1
sortedcontainers==2.0.5
spacy==2.0.12
Sphinx==1.8.0
sphinxcontrib-websupport==1.1.0
spotlight==0.1.5
SQLAlchemy==1.2.12
statsmodels==0.9.0
sympy==1.1.1
tables==3.4.4
tblib==1.3.2
tensorboard==1.10.0
tensorboardX==1.4
tensorflow==1.10.1
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
textblob==0.15.1
thinc==6.11.2
toolz==0.9.0
torch==0.4.1
torchvision==0.2.1
tornado==5.1.1
tqdm==4.26.0
traitlets==4.3.2
tweepy==3.6.0
Twisted==18.7.0
typed-ast==1.1.0
typing==3.6.6
ufal.udpipe==1.2.0.1
ujson==1.35
unicodecsv==0.14.1
Unidecode==1.0.22
urllib3==1.23
virtualenv==15.2.0
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.53.0
Werkzeug==0.14.1
wget==3.2
wrapt==1.10.11
xgboost==0.80
xlrd==1.1.0
XlsxWriter==1.1.0
xlwings==0.11.8
xlwt==1.3.0
xmltodict==0.11.0
zict==0.1.3
zope.interface==4.5.0
